@model PecuniaMVC.Models.FixedDepositViewModelDisplay
@using System.Web.Optimization

@{
    Layout = "~/Views/Shared/AccountGroupList.cshtml";
}


<meta name="viewport" content="width=device-width" />
<title>EditFixedDeposit</title>
@Scripts.Render("~/scripts/jquery")
@Scripts.Render("~/scripts/jqueryvalidation")
@Scripts.Render("~/scripts/bootstrap")
@Styles.Render("~/styles/bootstrap")
<style>
    .field-validation-error {
        color: red;
    }
</style>

<div class="container-fluid">
    <h3>Edit FixedDeposit</h3>

    @using (Html.BeginForm("EditFixedDepositEdited", "FixedDeposit", FormMethod.Post))
    {

        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="form-group form-row">
                    @Html.LabelFor(temp => temp.Tenure,
       new { @class = "col-form-label col-lg-3" })
                    @Html.DropDownListFor(temp => temp.Tenure, new List<SelectListItem>()
               {
                   new SelectListItem(){ Text="5 Years (Interest Rate 4%)",Value="5"},
                    new SelectListItem(){ Text="10 Years(Interest Rate 6%)",Value="10"},
                            new SelectListItem(){ Text="15 Years(Interest Rate 8%)",Value="15"}

               },
                  new { @class = "form-control col-lg-9" })
                    <div class="col-lg-3 text-nowrap col-form-label">
                        @Html.ValidationMessageFor(temp => temp.Tenure)
                    </div>
                </div><br />

                      <div class="form-group form-row">
                          @Html.LabelFor(temp => temp.HomeBranch,
             new { @class = "col-form-label col-lg-3" })
                          @Html.DropDownListFor(temp => temp.HomeBranch, new List<SelectListItem>()
                     {
                         new SelectListItem(){ Text="Pune",Value="Pune"},
                          new SelectListItem(){ Text="Mumbai",Value="Mumbai"},
                          new SelectListItem(){ Text="Kolkata",Value="Kolkata"},

                     },
                  new { @class = "form-control col-lg-9" })
                          <div class="col-lg-3 text-nowrap col-form-label">
                              @Html.ValidationMessageFor(temp => temp.HomeBranch)
                          </div>
                      </div>

                      <div class="form-group form-row">

                          @Html.LabelFor(temp => temp.FdDeposit,
             new { @class = "col-form-label col-lg-3" })
                          @Html.TextBoxFor(temp => temp.FdDeposit, new { @class = "form-control col-lg-9" })
                          <div class="col-lg-3 text-nowrap col-form-label">
                              @Html.ValidationMessageFor(temp => temp.FdDeposit)
                          </div>
                      </div>

                @Html.HiddenFor(temp => temp.AccountID)

                <div class="border-top text-right pt-2">

                    <button class="btn btn-success">Update</button>
                </div>

            </div>
            
        </div>
    }

</div>
