
@model List<PecuniaMVC.Models.FixedDepositViewModelDisplay>
@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/AccountGroupList.cshtml";
}
<meta name="viewport" content="width=device-width" />
<title>FixedDepositAdded</title>
@Scripts.Render("~/scripts/jquery")
@Scripts.Render("~/scripts/jqueryvalidation")
@Scripts.Render("~/scripts/bootstrap")
@Styles.Render("~/styles/bootstrap")

<div>
    FixedDeposit Added Successfully.
    <a href="@Url.Action("ShowAllFixedDeposit", "FixedDeposit")">Show All Fixed Deposit</a>
</div>
