@model Pecunia.PresentationMVC.Models.HomeLoanApplyModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Apply Car Loan</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">

        @using (Html.BeginForm())
        {
            <div class="pb-3 pl-md-2 bg-info" style="height:80px"><h2>Apply Home Loan</h2></div>

            <div class="row" style="background-color:#ddd8b9">
                <div class="form-group col-md-6 mx-auto" style="background-color:#ddd8b9">
                    <div class="form-row pt-2">
                        @Html.LabelFor(temp => temp.LoanID, new { @class = "col-form-label col-lg-3", text = "Loan ID" })
                        @Html.TextBoxFor(temp => temp.LoanID, new { @class = "form-control col-lg-9", placeholder = "ID will be generated once you finished the form!", disabled = "true" })

                    </div>
                    <div class="form-row pt-2">
                        @Html.LabelFor(temp => temp.CustomerID, new { @class = "col-form-label col-lg-3" })
                        <div class="col-lg-9">
                            @Html.DropDownListFor(t => t.CustomerID, ViewBag.customers as SelectList)
                        </div>
                    </div>
                    <div class="form-row pt-2">
                        @Html.LabelFor(temp => temp.AmountApplied, new { @class = "col-form-label col-lg-3" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(temp => temp.AmountApplied, new { @class = "form-control ", placeholder = "Rs.", type="number" })
                            @Html.ValidationMessageFor(temp => temp.AmountApplied)
                        </div>
                    </div>
                    <div class="form-row pt-2">
                        @Html.LabelFor(temp => temp.RepaymentPeriod, new { @class = "col-form-label col-lg-3" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(temp => temp.RepaymentPeriod, new { @class = "form-control ", placeholder = "Months", type = "number" })
                            @Html.ValidationMessageFor(temp => temp.RepaymentPeriod)
                        </div>
                    </div>
                    <div class="form-row pt-2">
                        @Html.LabelFor(temp => temp.Occupation, new { @class = "col-form-label col-lg-3" })
                        @Html.DropDownListFor(temp => temp.Occupation,
                            new List<SelectListItem>()
                            {
                                new SelectListItem() { Text="Agriculture", Value="AGRICULTURE"},
                                new SelectListItem() { Text="Service", Value="SERVICE"},
                                new SelectListItem() { Text="Self Employed", Value="SELF_EMPLOYED"},
                                new SelectListItem() { Text="Retired", Value="RETIRED"},
                                new SelectListItem() { Text="Others", Value="OTHERS"},
                            }
                       )
                    </div>
                    <div class="form-row pt-2" > 
                        @Html.LabelFor(t=>t.ServiceYears, new { @class="col-form-label col-lg-3"})
                        <div class="col-lg-9">
                            @Html.TextAreaFor(t => t.ServiceYears, new { @class = "form-control", placeholder = "Year(s)", rows="1", type = "number" })
                            @Html.ValidationMessageFor(t => t.ServiceYears)
                        </div>
                    </div>
                    <div class="form-row pt-2">
                        @Html.LabelFor(temp => temp.GrossIncome, new { @class = "col-form-label col-lg-3" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(temp => temp.GrossIncome, new { @class = "form-control", placeholder = "Rs.", type = "number" })
                            @Html.ValidationMessageFor(temp => temp.GrossIncome)
                        </div>
                    </div>
                    <div class="form-row pt-2">
                        @Html.LabelFor(temp => temp.SalaryDeductions, new { @class = "col-form-label col-lg-3" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(temp => temp.SalaryDeductions, new { @class = "form-control", placeholder = "Rs.", type = "number" })
                            <span class="text-danger">@Html.ValidationMessageFor(temp => temp.SalaryDeductions)</span>
                        </div>
                    </div>

                    <div class="form-row pt-2">
                        @Html.CheckBoxFor(temp => temp.IsAccepted, new { @class = "form-check" })
                        <label for="IsAccepted"> I accepts the terms and conditions</label>
                    </div>

                    <div class="  pt-3">
                        <button class="btn btn-success text-right" data-toggle="tooltip" data-html="true" title="one click away from applying">Submit</button>
                       
                    </div>


                </div>
            </div>
        }
    </div>
</body>
</html>

