@model List<PecuniaMVC.Models.FixedDepositViewModelDisplay>
@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/AccountGroupList.cshtml";
}

<meta name="viewport" content="width=device-width" />
<title>AccountAdded</title>
@Scripts.Render("~/scripts/jquery")
@Scripts.Render("~/scripts/jqueryvalidation")
@Scripts.Render("~/scripts/bootstrap")
@Styles.Render("~/styles/bootstrap")

<div>
    Account Added Successfully!

    <a href="@Url.Action("ShowAllAccount", "Accounts")">Show All Account</a>
</div>
