@model List<PecuniaMVC.Models.AccountViewModelDisplay>
@using System.Web.Optimization

@{
    Layout = "~/Views/Shared/AccountGroupList.cshtml";
}

<meta name="viewport" content="width=device-width" />
<title>EditingAccountMenu</title>
@Scripts.Render("~/scripts/jquery")
@Scripts.Render("~/scripts/jqueryvalidation")
@Scripts.Render("~/scripts/bootstrap")
@Styles.Render("~/styles/bootstrap")

<div>
    <div>
        <h1>	Edit/Delete Account </h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Customer ID</th>
                    <th>Account Number</th>
                    <th>Account Type </th>
                    <th>Home Branch</th>

                </tr>

            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {

                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model[i].CustomerID</td>
                        <td>@Model[i].AccountNumber</td>
                        <td>@Model[i].AccountType</td>
                        <td>@Model[i].HomeBranch</td>
                        <td>
                            <a href="@Url.Action("EditAccount", "Accounts",new { id = Model[i].AccountID })">Edit</a>
                        </td>
                        <td>
                            <a href="@Url.Action("DeleteAccount", "Accounts",new { id = Model[i].AccountID })">Delete</a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
