@model Pecunia.PresentationMVC.Models.EduLoanApplyModel

@{
    Layout = null;
}

@{
    ViewBag.Title = "apply";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Apply Education Loan</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        @*                      action   controller     formMethod*@
        @using (Html.BeginForm("Apply", "EduLoanApply", FormMethod.Post))
        {
            <div class="row pb-3 pl-md-2 bg-info" style="height:80px"><h2>Apply Edu Loan</h2></div>

            <div class="row" style="background-color:#ddd8b9">
                <div class="form-group col-md-6 mx-auto" style="background-color:#ddd8b9">
                    <div class="form-row pt-2">
                        @Html.LabelFor(temp => temp.LoanID, new { @class = "col-form-label col-lg-3", text = "Loan ID" })
                        @Html.TextBoxFor(temp => temp.LoanID, new { @class = "form-control col-lg-9", placeholder = "ID will be generated once you finished the form!", disabled = "true" })

                    </div>
                    <div class="form-row pt-2">
                        @Html.LabelFor(temp => temp.CustomerID, new { @class = "col-form-label col-lg-3" })
                        <div class="col-lg-9">
                            @Html.DropDownListFor(t=>t.CustomerID, ViewBag.customers as SelectList)
                        </div>
                    </div>
                    <div class="form-row pt-2">
                        @Html.LabelFor(temp => temp.AmountApplied, new { @class = "col-form-label col-lg-3" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(temp => temp.AmountApplied, new { @class = "form-control ", type = "number", placeholder = "Rs." })
                            @Html.ValidationMessageFor(temp => temp.AmountApplied)
                        </div>
                    </div>
                    <div class="form-row pt-2">
                        @Html.LabelFor(temp => temp.RepaymentPeriod, new { @class = "col-form-label col-lg-3" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(temp => temp.RepaymentPeriod, new { @class = "form-control ",type="number", placeholder = "Months" })
                            @Html.ValidationMessageFor(temp => temp.RepaymentPeriod)
                        </div>
                    </div>
                    <div class="form-row pt-2">
                        @Html.LabelFor(t => t.Course, new { @class = "col-form-label col-lg-3" })
                        <div class="col-lg-9">
                            @Html.DropDownListFor(t=>t.Course,
                                        new List<SelectListItem>()
                                        {
                                            new SelectListItem() { Text="Under graduate", Value="UNDERGRADUATE"},
                                            new SelectListItem() { Text="Post graduate", Value="MASTERS"},
                                            new SelectListItem() { Text="PHD", Value="PHD"},
                                            new SelectListItem() { Text="M.PHIL", Value="MPHIL"},
                                            new SelectListItem() { Text="Others", Value="OTHERS"}
                                        }
                           )
                            @Html.ValidationMessageFor(t => t.Course)
                        </div>
                    </div>
                    <div class="form-row pt-2">
                        @Html.LabelFor(temp => temp.InstituteName, new { @class = "col-form-label col-lg-3" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(temp => temp.InstituteName, new { @class = "form-control ", placeholder = "No abbreviations" })
                            @Html.ValidationMessageFor(temp => temp.InstituteName)
                        </div>
                    </div>
                    <div class="form-row pt-2">
                        @Html.LabelFor(temp => temp.StudentID, new { @class = "col-form-label col-lg-3" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(temp => temp.StudentID, new { @class = "form-control ", placeholder = "Provided by your institution" })
                            @Html.ValidationMessageFor(temp => temp.StudentID)
                        </div>
                    </div>
                    <div class="form-row pt-2">
                        @Html.CheckBoxFor(temp => temp.IsAccepted, new { @class = "form-check" })
                        <label for="IsAccepted"> I accepts the terms and conditions</label>
                    </div>

                    <div class="pt-3">
                        <button class="btn btn-success text-right" type="submit" name="button" value="save">Apply</button>
                    </div>


                </div>
            </div>
        }
    </div>
</body>
</html>

